form{
  font-weight: 600 !important; /* 굵게 표시하려면 값을 'bold'로 설정 */ 
}

.essential{
  font-size: 20px;
  color: red !important;
}

.side-menu {
  float: left;
  position: sticky;
  top: 200px;
  margin-top : 120px;
  margin-left : 250px;
  width: 200px; 
  z-index: 1000;
}

.side-menu a.active {
  font-weight: bold; 
}

