
.info-text {
    text-align: center;
}

.info-exhibit{
    display: flex;
    background-color: #FE7A2C;
    height: 40px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #FE7A2C;
    justify-content: center;
}

.content {
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subject{
    width: 104px;
    height: 17.77px;
}

.img-container{
    padding: 0px;
    margin-top: 28px;
}

.getItem{
    display: flex;
    position: fixed;
    top: 550px;
    left: 1090px;
    width: 300px;
    height: 80px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}



