@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.navbar {
  font-family: "Noto Sans KR", sans-serif ,Cinzel;
  position: sticky !important;
  top:0px !important;
  width: 100%;
  height: 120px;
  z-index: 1000; /* Adjust the z-index as needed */
  font-weight: bold; /* Increase font weight for a thicker appearance */
  background-color: rgb(245, 245, 245) !important;
  border-bottom: solid 0.5px #dddcdc ;
}

/* Adjust the padding and other styles according to your preference */
.navbar-item {
  padding: 1rem 1.5rem;
}

.logo{
  font-size: 30px;
  font-family: Cinzel, sans-serif;
  margin-top: 3px;
}

#header-search-box {
  position: relative;
  width: 40vw;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(247, 248, 249);
  border: 1px solid rgb(197, 200, 206);
}


#header-search-input {
  position: absolute;
  top: 0;
  left: 40px;
  width: 90%;
  height: 100%;
  background-color: rgb(247, 248, 249);
  border: transparent;
  font-size: 14px;
}

#header-search-submit {
  position: absolute;
  top: 0;
  left: 10px;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

#header-search-submit-icon {
  color: rgb(149, 154, 158);
  font-size: 16px;
  line-height: 40px;
}
#footer-title{
  color: #4a4a4a !important;
}
li{
  font-family: "Noto Sans KR", sans-serif !important;
  color: #4a4a4a !important;
}