<nav class="navbar" role="navigation" aria-label="main navigation" style="border-bottom: 1px solid f8f9fa;">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="/">
      ART CONCIERGE
    </a>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="nav-links" class="navbar-menu">
    
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable ">
        <a class="navbar-link">
          CATEGORY
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-item" id="search-box">
      <form id="header-search-box" class="pl-4">
        <input id="header-search-input" type="text" placeholder="Search Exhibition">
        <button id="header-search-submit" type="button" onclick="search_Keyword()">
          <i id="header-search-submit-icon" class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="/carts">
        CART
      </a>
      <a class="navbar-item" id="mypage">
        MY PAGE
      </a>
      <a class="navbar-item" id="login">
        LOGIN
      </a>
    </div>

</nav>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
  const $loginButton = document.querySelector('#login');
  const $myPage = document.querySelector('#mypage')
  const $burgerIcon = document.querySelector('#burger')
  const $navbarMenu = document.querySelector('#nav-links')
  const $searchBox = document.querySelector('#search-box')
  let token;
  let user_Data;
  loadCategory();
  getUserInformation();

  token = getCookie("token");

  if (token) {
    $loginButton.textContent = "LOGOUT";
  }
  else {
    $loginButton.textContent = "LOGIN";
  }

  async function getUserInformation() {
    try {
      const response = await axios.get('/api/users/');
      user_Data = response.data;
    } catch (error) {
      console.error('Error fetching user information:', error);
    }
  };

  $burgerIcon.addEventListener('click',()=>{
    $navbarMenu.classList.toggle('is-active')
  })
  $loginButton.addEventListener('click', () => {
    if (token) {
      Swal.fire({
        title: '로그아웃 하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#363636',
        cancelButtonColor: '#C0C0C0',
        confirmButtonText: '로그아웃',
        cancelButtonText: '취소'
      }).then(async (result) => {
        if (result.value) {
          await axios.delete('/api/auth/logout')
          window.location.href = '/'
        }

      })
    }
    else {
      window.location.href = '/auth'
    }
  })

  $myPage.addEventListener('click', () => {
    if (token) {
      if (user_Data.isAdmin) {
        window.location.href = '/admin/categories'
      } else {
        window.location.href = '/orders'
      }
    }
    else {
      Swal.fire({
        title: '로그인이 필요합니다!',
        icon: 'warning',
        confirmButtonColor: '#363636',
        confirmButtonText: '확인',
      });
    }
  })
  // 카테고리 목록을 드롭다운 목록에 렌더링
  function loadCategory() {
    axios.get('/api/exhibits/categoryList')
      .then(response => {
        let category_All = response.data;
        console.log(category_All)
        let category_List = [];

        for (let element of category_All) {
          category_List.push([element.category, element._id]);
        }

        category_List.unshift(['전체', '전체 ID']);

        let element_Select = document.querySelector('.navbar-dropdown');
        element_Select.innerHTML = '';

        let for_Count = 1;
        category_List.forEach(category => {
          // 카테고리 최대 5개까지만 목록에 출력
          if (for_Count >= 7) {
            return;
          } else {
            for_Count += 1;
            const createElement = document.createElement("a");
            createElement.className = 'navbar-item';
            createElement.textContent = category[0];
            createElement.href = `/exhibits?categoryName=${category[1]}`;
            element_Select.appendChild(createElement);
          }
        });
      })
      .catch(error => {
        console.error('에러 발생:', error);
      });
  }

  // 키워드 검색
  function search_Keyword() {
    let input_Element = document.getElementById('header-search-input');
    let keyword = input_Element.value;

    if (keyword.trim() === '') {
      alert('검색할 키워드를 입력하세요')
    } else {
      let search_URL = `/exhibits?word=${input_Element.value}`;

      window.location.href = search_URL;
    }
  }

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);

    if (parts.length === 2) {
      return parts.pop().split(';').shift();
    }
  }
</script>