.exhibition-list {
    margin: 0 3rem 0 3rem;
}


.banner{
    height:12rem;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    color: aliceblue;
}


.column {
    text-align: center;
    padding: 1.5rem;
  }

.columns{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 6rem;
}

.exhibitTitle div{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    text-align: left;
    color: black;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

a{
    text-decoration-line: none;
}
 
.exhibitInfo a{
    padding-top: 0.2rem;
    font-size: 1.1rem;
    color: #717070;
    font-weight: 600;
    text-overflow: ellipsis;
}

.exhibitInfo{
    text-align: left;
}

footer{
    padding: 0;
    margin-top: 200px;
}

footer .columns{
    padding: 0px;
}

footer .column{
    padding: 0px;
}