.title {
  font-weight: bolder;
}

.productContainer {
  width: 600px;
}

.count {
  display: inline-flex;
}
.body{
  background-color: #F2F2F2;
}

.swal2-popup {
  width: 400px;
  /* Set the width as needed */
}

/* Adjust the text size in the SweetAlert modal */
.swal2-popup .swal2-title,
.swal2-popup .swal2-content,
.swal2-popup .swal2-html-container {
  font-size: 16px;
  /* Set the font size as needed */
}


span {
  cursor: pointer;
}

.count-wrap {
  display: inline-flex;
}

.count-wrap .minus {
  border: none;
  cursor: pointer;
  width: 25px;
}

.count-wrap .plus {
  border: none;
  cursor: pointer;
  width: 25px;
}

.count-wrap .inp {
  width: 32px;
  text-align: center;
  border: none;
  background-color: aliceblue;
}



.itemContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemContainer input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.itemContainer .cbx {
  -webkit-perspective: 20;
  perspective: 20;
  display: inline-block;
  border: 2px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}

.itemContainer .cbx:hover {
  border-color: #363636;
}

.itemContainer .flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 20px;
  height: 20px;
}

.itemContainer input[type="checkbox"]:checked + .cbx {
  border-color: #363636;
}

.itemContainer input[type="checkbox"]:checked + .cbx .flip {
  transform: rotateY(180deg);
}

.itemContainer .front,
.itemContainer .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.itemContainer .front {
  background: #fff;
  z-index: 1;
}

.itemContainer .back {
  transform: rotateY(180deg);
  background: #363636;
  text-align: center;
  color: #fff;
  line-height: 20px;
  box-shadow: 0 0 0 1px #363636;
}

.selection {
  align-items: center;
}

.itemContainer .back svg {
  margin-top: 3px;
  fill: none;
}

.itemContainer .back svg path {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.cbx {
  margin-right: 10px;
}

