<footer id="footer" class="footer is-full">
  <div id="footer-container" class="is-flex is-justify-content-center">
    <div id="footer-copyright" class="column" style="margin-left: 200px;">
      <ul>
        <li><p id="footer-title">Prestige Collection</p></li>
        <li id="footer-copyright-description" class="mt-5">
          Copyright © 2024 Prestige Collection Corp. All Rights Reserved.<br>
          프레스티지 컬렉션은 위치 기반 및 취향 데이터 분석 특허 2건 기반 서비스 제공 중이므로<br>
          이에 관한 관련 침해에 대해서는 법적 문제를 초래 할수 있습니다.
        </li>
      </ul>
    </div>
    <div id="footer-company" class="column" style="margin-left: 100px;">
      <ul class="is-flex is-flex-direction-column is-justify-content-center">
        <li>
          <a href="https://www.facebook.com" target="_blank"><i id="footer-icon" class="fa-brands fa-square-facebook mr-2"></i></a>
          <a href="https://twitter.com" target="_blank"><i id="footer-icon" class="fa-brands fa-square-twitter mr-2"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i id="footer-icon" class="fa-brands fa-instagram mr-2"></i></a>
          <a href="https://telegram.org" target="_blank"><i id="footer-icon" class="fa-brands fa-telegram mr-2"></i></a>
          <a href="https://github.com" target="_blank"><i id="footer-icon" class="fa-brands fa-github mr-2"></i></a>
          <a href="https://www.youtube.com" target="_blank"><i id="footer-icon" class="fa-brands fa-youtube mr-2"></i></a>
        </li>
        <li class="mt-5">
          <span>(주)프레스티지 컬렉션 | 대표자: 엘리스 | 사업자번호: 123-12-12345</span>
          <br/>
          <span
            >통신판매업: 2024-서울성수-0013 | 개인정보보호책임자: 엘리스 |
            이메일: elice@gmail.com
          </span>
          <br/>
          <span>주소: 서울특별시 성동구 성수2가제3동 광나루로6길 49</span>
        </li>
      </ul>
    </div>
  </div>
</footer>