<footer class="footer">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-3">
      <ul>
        <li>
          <p id="footer-title">ART CONCIERGE</p>
        </li>
        <li id="footer-copyright-description">
        </li>
      </ul>
    </div>
    <div class="column is-4"></div>
    <div id="footer-company" class="column is-4">
      <ul class="is-flex is-flex-direction-column is-justify-content-center">
        <li>
          <a href="https://www.facebook.com" target="_blank"><i id="footer-icon"
            class="fa-solid fa-sitemap mr-2"></i></a>
          <a href="https://www.facebook.com" target="_blank"><i id="footer-icon"
              class="fa-solid fa-gears mr-2"></i></a>
          <a href="https://twitter.com" target="_blank"><i id="footer-icon"
              class="fa-solid fa-brush mr-2"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i id="footer-icon"
              class="fa-solid fa-code-branch mr-2"></i></a>
          <a href="https://telegram.org" target="_blank"><i id="footer-icon" class=" mr-2"></i></a>
          <a href="https://github.com" target="_blank"><i id="footer-icon" class="fa-solid fa-palette mr-2"></i></a>
          <a href="https://www.youtube.com" target="_blank"><i id="footer-icon"
              class="fa-solid fa-pencil mr-2"></i></a>
          <a href="https://www.youtube.com" target="_blank"><i id="footer-icon"
              class="fa-solid fa-paint-roller mr-2"></i></a>
        </li>
        <li class="mt-5">
          <span>ART CONCIERGE | 팀장 :김고은 </span>
          <br />
          <span>
            팀원: 김민서 | 김윤진 | 이다연 | 전다현 | 이유림 | 안진성
          </span>
        </li>
      </ul>
    </div>
  </div>


</footer>